@use "uswds-core" as *;

.browse_header {
  @include u-margin-y(3);
  @include at-media("mobile-lg") {
    @include u-margin-y(4);
  }
  @include at-media("tablet-lg") {
    @include u-margin-y(6);
  }

  &-title {
    text-align: left;
    @include typeset("ui", 9, 1);
    @include at-media("mobile-lg") {
      @include u-font-size("heading", 10);
    }
    @include at-media("tablet") {
      @include u-font-size("heading", 11);
    }
    @include at-media("tablet-lg") {
      @include u-font-size("heading", 11);
    }
    @include at-media("desktop") {
      @include u-font-size("heading", 12);
    }
    @include u-text("primary-darker", "bold");
    @include u-margin-y(2);
  }

  &-subtitle {
    text-align: left;
    font-weight: 100;

    @include u-padding-bottom(4);
    @include typeset("ui", 6, 1);
    @include at-media("mobile-lg") {
      @include u-font-size("heading", 7);
    }
    @include at-media("tablet-lg") {
      @include u-font-size("heading", 8);
    }
    @include at-media("desktop") {
      @include u-font-size("heading", 9);
    }
  }
}

.browse_load-more-button {
  bottom: 24px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 36px;
  @include u-bg("primary-vivid");
  @include u-padding-x(2.5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  transition: all 0.3s ease;
}

.browse_back-to-top-button {
  margin: auto;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
