@use "uswds-core" as *;

.footer > div {
  @include u-bg("primary-darker");
}

.primary_section {
  @include u-display("flex");
  @include u-flex('align-center');
  gap: 20px;
}

.logo {
  @include u-margin-y(3);

  // Temp code in place of a real logo
  &_image {
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    display: inline-block;
    background: #fff;
    border-radius: 100%;
    text-align: center; 
  }

  &_title {
    @include u-text("base-light", "normal");
  }

  &_description {
    @include u-text("base-lightest", "bold");
  }
}



.nav {
  list-style-type: none;
  @include u-display("flex");
  @include u-flex("wrap");
  @include u-padding-bottom(1);

  &_item {
    @include u-display("flex");
    @include u-padding-bottom(1);
    width: 200px;
  }
}

a.nav_item {
  @include u-text("base-light", "normal");
}

.more {
  @include u-text("base-light", "normal");
  @include u-padding-bottom(1);
}
a.more_link {
  @include u-text("base-lightest", "bold");
}