@use "uswds-core" as *;

.spinner {
  width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid lightblue;
    border-right-color: #162e51;
    animation: l2 1.5s infinite linear;
    margin: 2em 0;

  &-container {
    max-width: fit-content;
    margin:  0 auto;
    justify-content: left;
  }

  &-text {
    margin: -1.5rem 0 2rem -2rem;
  }
}
@keyframes l2 {to{transform: rotate(1turn)}}
