@use "uswds-core" as *;

.card_banner {
  &>.usa-card__container {
    border-radius: 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
  }

  &-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 0 0 0;
    @include at-media("tablet-lg") {
      padding: 0 2rem;
    }

    display: grid;
    grid-template-columns: 1fr;
    @include at-media("tablet-lg") {
      grid-template-columns: 27.5rem 1fr;
    }
    align-items: center;
    justify-content: center;

    &>.card_banner-image {
      position: relative;
      width: 100%;
      max-width: 27.5rem;
      max-height: 27.5rem;
      margin: 0 auto;

      &>.usa-card__img {
        border-radius: 1rem;
      }
    }

    &>.usa-card__body {
      position: relative;
      margin: .5rem 0;
      @include u-padding-x(0);
      @include at-media("tablet-lg") {
        @include u-padding-x(2);
      }
      &>header {
        margin: 0;
        @include u-padding-top(2);
        @include u-padding-x(2);
        @include at-media("tablet-lg") {
          @include u-padding-x(4);
        }
      }
      &>.card_desc {
        padding-top:1rem;
        @include u-padding-x(2);
        @include at-media("tablet-lg") {
          @include u-padding-x(3);
        }
        overflow: unset;
        display: block;
        -webkit-box-orient: unset;
        -webkit-line-clamp: unset;
        @include u-font-size("ui", 6);
      }
      &>.card_grid {
        @include u-padding-x(2);
        @include at-media("tablet-lg") {
          @include u-padding-x(3);
        }
      }
      &>.usa-card__footer {
        margin: 0;
        @include u-padding-x(2);
        @include at-media("tablet-lg") {
          @include u-padding-x(3);
        }
      }
    }
  }

  &-apply-button {
    width: 100%;
    @include at-media("tablet-lg") {
      max-width: fit-content;
    }
  }
}
