@use "uswds-core" as *;

.card_icon {
  
  display: flex;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  align-items: center;

  &-image {
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 100%;
    @include u-bg($theme-color-primary-lighter)
  }

  &-desc {

    &-title {
      @include u-text("base-dark", "normal");
    }

    &-highlight {
      @include typeset("ui", "lg", 1);
      @include u-text("base-dark", "bold");
    }
  }
}