@use "uswds-core" as *;

$collegeCard-img-width-normal: 0;
$collegeCard-img-width-tablet: 15rem;
$collegeCard-img-width-desk: 20rem;
$collegeCard-img-width-desk-lg: 25rem;
$collegeCard-img-width-wide: 30rem;

.card {
  width: 100%;
}

.usa-card__container {
  border-radius: 0.75rem;
  @include at-media("mobile-lg") {
    border-radius: 1rem;
  }
  @include at-media("tablet-lg") {
    border-radius: 2rem;
  }
  @include at-media("desktop") {
    border-radius: 3rem;
  }
}

.card_header {
  @include u-padding-top(5);

  &.usa-card__header {
    margin-left: $collegeCard-img-width-normal;
    @include at-media("tablet") {
      margin-left: $collegeCard-img-width-tablet;
    }
    @include at-media("desktop") {
      margin-left: $collegeCard-img-width-desk;
    }
    @include at-media("desktop-lg") {
      margin-left: $collegeCard-img-width-desk-lg;
    }
    @include at-media("widescreen") {
      margin-left: $collegeCard-img-width-wide;
    }
  }

  &-title {
    @include typeset("heading", 9, 1);
    @include at-media("mobile-lg") {
      @include u-font-size("heading", 10);
    }
    @include at-media("tablet-lg") {
      @include u-font-size("heading", 11);
    }
    @include at-media("desktop") {
      @include u-font-size("heading", 12);
    }
    @include u-text("primary-darker", "normal");
  }

  &-subtitle {
    @include typeset("heading", 5, 1);
    @include at-media("mobile-lg") {
      @include u-font-size("heading", 6);
    }
    @include at-media("tablet-lg") {
      @include u-font-size("heading", 8);
    }
    @include at-media("desktop") {
      @include u-font-size("heading", 9);
    }
    @include u-text("base-dark", "normal");
    @include u-padding-y(2);
  }
}

.card_media {
  max-height: 20rem;
  @include at-media("tablet") {
    max-height: none;
  }

  &.usa-card__media {
    width: auto;
    @include at-media("tablet") {
      width: $collegeCard-img-width-tablet;
    }
    @include at-media("desktop") {
      width: $collegeCard-img-width-desk;
    }
    @include at-media("desktop-lg") {
      width: $collegeCard-img-width-desk-lg;
    }
    @include at-media("widescreen") {
      width: $collegeCard-img-width-wide;
    }
  }

  &>.usa-card__img {
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    border-bottom-left-radius: 0;
    max-height: 20rem;
    width: auto;
    @include at-media("mobile-lg") {
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 0;
    }
    @include at-media("tablet") {
      border-top-left-radius: 1rem;
      border-top-right-radius: 0;
      border-bottom-left-radius: 1rem;
      max-height: none;
      width: $collegeCard-img-width-tablet;
    }
    @include at-media("tablet-lg") {
      border-top-left-radius: 2rem;
      border-top-right-radius: 0;
      border-bottom-left-radius: 2rem;
    }
    @include at-media("desktop") {
      border-top-left-radius: 3rem;
      border-bottom-left-radius: 3rem;
      width: $collegeCard-img-width-desk;
    }
    @include at-media("desktop-lg") {
      width: $collegeCard-img-width-desk-lg;
    }
    @include at-media("widescreen") {
      width: $collegeCard-img-width-wide;
    }
  }
}

.card_body {
 &.usa-card__body {
    margin-left: 0;
    margin-top: 0;
    padding-top: 0;
    @include at-media("tablet") {
      margin-left: $collegeCard-img-width-tablet;
    }
    @include at-media("desktop") {
      margin-left: $collegeCard-img-width-desk;
    }
    @include at-media("desktop-lg") {
      margin-left: $collegeCard-img-width-desk-lg;
    }
    @include at-media("widescreen") {
      margin-left: $collegeCard-img-width-wide;
    }
  }
}

.card_desc {
  @include u-margin-bottom(2);
  @include typeset("ui", 5, 4);
  @include at-media("mobile-lg") {
    @include u-font-size("ui", 6);
  }
  @include at-media("tablet") {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    @include u-font-size("ui", 7);
  }
  @include u-text("base-darker", "normal");
}

.card_grid {
  display: grid;
  grid-template-columns: 1fr;
  @include at-media(tablet-lg) {
    grid-template-columns: 1fr 1fr;
  }
  row-gap: 1rem;
  @include u-padding-y(2);
  @include u-margin-bottom(2);
}

.usa-card__body {
  @include u-margin-top(1);
}

.usa-card__footer {
  @include u-margin-top(2);
  @include u-padding-bottom(5);
  &.usa-card__footer {
    margin-left: 0;
    @include at-media("tablet") {
      margin-left: $collegeCard-img-width-tablet;
    }
    @include at-media("desktop") {
      margin-left: $collegeCard-img-width-desk;
    }
    @include at-media("desktop-lg") {
      margin-left: $collegeCard-img-width-desk-lg;
    }
    @include at-media("widescreen") {
      margin-left: $collegeCard-img-width-wide;
    }
  }
}

.card_footer-apply-button {
  transition: all 0.3s ease;
}

.card_footer-view-more-button {
  transition: all 0.3s ease;
}
