@use "uswds-core" as *;

.hero_background {
  background-color: #eef5ff;
  max-height: 34.375rem;
}

.hero_container {
  position: relative;

  &-text-container {
    position: absolute;
    z-index:1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    top: 0;
    bottom: 0;
    margin: 20px 0;
    width: 60%;
  }

  &-title {
    @include u-text("primary-darker", "bold");
    @include typeset("heading", "lg", 4);
    @include at-media("tablet") {
      @include typeset("heading", "xl", 4);
    }
    @include at-media("tablet-lg") {
      @include typeset("heading", "2xl", 4);
    }
    @include at-media("desktop") {
      @include u-font-size("heading", "3xl")
    }
    text-align: center;
  }

  &-subtitle {
    @include u-text("primary-darker", "light");
    display: none;
    @include at-media("tablet") {
      display: block;
      @include typeset("heading", "sm", 4);
    }
    @include at-media("tablet-lg") {
      @include typeset("heading", "md", 4);
    }
    @include at-media("desktop") {
      @include u-font-size("heading", "lg");
      @include u-padding-bottom(6);
    }
    text-align: center;
  }


  &-image {
    position: relative;
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 2 / 1;
    object-fit: contain;
    left: 29%;
    max-height: 26.25rem;
  }
}
