@use "uswds-core" as *;

.footer > div {
  @include u-bg("primary-darker");
}

.footer_primary-section {
  @include u-display("flex");
  @include u-flex("align-center");
  gap: 20px;
  padding-top: 1.25rem;
}
.usa-footer__primary-section>.grid-container {
  max-width: 100rem;
}

.usa-footer__secondary-section>.grid-container {
  max-width: 100rem;
}

.footer_logo {
  @include u-margin-bottom(1);

  &-img {
    width: 4rem;
    height: 4rem;
    line-height: 5rem;
    display: inline-block;
  }

  &-title {
    @include u-text("base-light", "normal");
  }

  &-description {
    @include u-text("base-lightest", "bold");
  }
}

.footer_nav {
  list-style-type: none;
  max-width: 59.375rem;
  @include u-display("flex");
  @include u-flex("wrap");
  @include u-padding-bottom(1);

  &-item {
    @include u-display("flex");
    @include u-padding-bottom(1);
    width: 200px;
  }
}

a.footer_nav-item {
  @include u-text("base-light", "normal");
}

.footer_more {
  @include u-text("base-light", "normal");
  @include u-padding-bottom(1);
}

a.footer_more-link {
  @include u-text("base-lightest", "bold");
}
