@use "uswds-core" as *;

.header {
  @include u-bg("primary-darker");
}

.header_logo {
  display: inline-block;
  text-decoration: none;
  &:hover {
    text-decoration: underline #fff;
  }
  @include u-padding-y(3);

  &-title {
    @include u-text("base-lightest", "normal");
    margin-bottom:.75rem;
    @include at-media("tablet") {
      @include typeset("heading", 12, 1);
    }
  }

  &-subtitle {
    @include u-text("base-lightest", "normal");

    @include typeset("ui", 7, 1);
  }
}
